$secondary_bg_color: url("entity");
$bg_color: url();
$text-color: dark;
$hint_color: dark;
$link_color: dark;
$button_text_color: dark;
$button_color: dark;

body {
    width: 886px;
    height: 612px;

}